#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: content;
    list-style: none;
    background-color: bisque;

}

#nav li{
    margin: 5px;
    padding: 10px 15px;
}

#nav li:hover{
    background-color: aquamarine; 
}

#nav a{
    text-decoration: none; 
}
/* modelo de cava */
.padre{
    background-color: burlywood;
    padding: 20px;
    
}

.hijo{
    background-color: coral;
    padding: 100px;
    border: 10px solid black;
    margin: 30px;
}

/* componente */
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: darkkhaki;
    gap: 1rem;
}
.card{
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px black; 
}
.card img{
    width: 100%;
    border-radius: 8px;
}
.card p{
    color: #fff;
    background-color: black;
}

/* carrito */

#carritoLista{
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 5px solid rgb(126, 203, 144);
    background-color: aquamarine;
    color: bisque;
}

/* concurrencia */
pre{
    text-align: left;
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    color: chartreuse;
}

/* try catch */
#bodyTry{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#mensaje{
    font-weight: bold;
    color: red;

}